/************************************
                RESET
************************************/

*{
    margin: 0;
    padding: 0;
}

/************************************
                STYLIN'
************************************/

#wrapper {
    width: 100%;
}

h1 {
    width: 90%;
    margin: 5% auto;
    text-align: center;
}

canvas {
    display: block;
    margin: 0 auto;
}